h1{
    color: rgb(21, 78, 78);
    text-align: center; 
}

body{
    background-image: url(img/wawea.jpg);
     background-attachment: fixed;
     background-size: cover;
    background-repeat: no-repeat;
    
}
li{
    
}
.konta{
    
    margin-left: 50px;
}
.kontakt{
    margin-left: 15px;
    padding-left: 10px;
    padding-top: 15px;
}
h2{
    margin-top: 5px;
    margin-left: 140px;
}
p{
margin-left: 17px;
  margin-top: 15px;
    
}
h3{
    text-align: center;
    color: rgb(162, 255, 205);
    border: 5px solid cornflowerblue;
}
.whatwedo{
    font-family: serif;
    text-align: center;
    padding-top: 7px;
    list-style: none;
}
.options{
    padding-top: 15px;
    color: rgb(237, 237, 255);
}
iframe{
    position: center;
    
}
.boat{
    width: 130px;
    margin-left: 1285px;
   margin-top: 5px;
}
.company{
    width: 500px;
    height: 470px;
    margin-left: 100px; 
    margin-right: 250px;

}